<div class="card m-b-20" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title f-bold"><%= article.title %></h5>
    <p class="card-text m-b-5"><%= truncate(article.description, length: 45) %></p>
    <% if article.categories.any? %>
      <% article.categories.each do |category| %>
        <%= render partial: 'categories/category', locals: { category: category} %>
      <% end %>
    <% end %>
    <div class="button-wrapper m-b-10">
      <%= button_to 'Show', article_path(article), method: :get, class: "btn btn-outline-success" %>
      <%= button_to 'Edit', edit_article_path(article), method: :get, class: "btn btn-outline-info", disabled: (article.user != current_user && !admin?) %>
      <%= button_to 'Delete', article_path(article), method: :delete, class: "btn btn-outline-danger", disabled: (article.user != current_user && !admin?) %>
    </div>
    <div class="flex-end">
      <hr />
      <div class="timestamp">
        <p>by <%= link_to article.user.name, user_path(article.user) %></p>
        <%= article.created_at.in_time_zone('Seoul').strftime("%Y/%m/%d %I:%M%p") %>
      </div>
    </div>
  </div>
</div>

<style lang="scss" scoped>
  .card {
      font-family: NotoSans-Regular;
  }

  .card-text {
      line-height: normal;
  }

  .button-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .timestamp {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
  }

  .flex-end {
      align-self: flex-end;
  }
</style>