<% if @article.errors.any? %>
  <% @article.errors.full_messages.each do |e| %>
    <%= render partial: "commons/errors", locals: { error: e } %>
  <% end %>

<% else %>
  <h2>게시글 수정</h2>
  <%= form_with(model: @article, local: true)  do |f| %>
    <div class="m-b-20">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="m-b-20">
      <%= f.label :description %>
      <%= f.text_area :description, :rows => 10 %>
    </div>

    <div class="m-b-20">
      <%= f.label :category %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, include_hidden: false do |checkbox| %>
        <div class="checkbox_container">
          <%= checkbox.check_box %>
          <%= checkbox.label %>
        </div>
      <% end %>
    </div>

    <div class="m-b-20">
      <%= f.label :user %>
      <%= f.collection_select(:user_id, User.all, :id, :name, {}, { disabled: true }) %>
    </div>

    <div class="m-b-20">
      <div class="flex-row">
        <p class="m-r-5">Updated at: </p>
        <p><%= time_ago_in_words(@article.updated_at) %> ago</p>
      </div>
    </div>

    <%= f.submit '수정', class: "btn btn-outline-info" %>

  <% end %>

<% end %>

<style lang="scss" scoped>
    div {
        width: 300px;
        display: flex;
        flex-direction: column;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .checkbox_container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .checkbox_container input {
        margin-right: 5px;
    }

    .checkbox_container label {
        margin: 0;
    }
</style>