<% if @article.errors.any? %>
  <% @article.errors.full_messages.each do |e| %>
    <%= render partial: "commons/errors", locals: { error: e } %>
  <% end %>

<% else %>
  <h1>게시글 수정</h1>
  <%= form_with(model: @article, local: true)  do |f| %>
    <div class="m-b-20">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="m-b-20">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="m-b-20">
      <%= f.label :user %>
      <%= f.collection_select(:user_id, User.all, :id, :name, {}, { disabled: true }) %>
    </div>

    <div class="m-b-20">
      <div class="flex-row">
        <p class="m-r-5">Updated at: </p>
        <p><%= time_ago_in_words(@article.updated_at) %> ago</p>
      </div>
    </div>

    <%= f.submit '수정', class: "btn btn-outline-info" %>

  <% end %>

<% end %>

<style lang="scss" scoped>
    div {
        width: 300px;
        display: flex;
        flex-direction: column;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
    }
</style>