<% if @article.errors.any? %>
  <%= @article.errors.full_messages.each do |e| %>
    <p>
      <%= e %>
    </p>
  <% end %>
<% else %>
  <h1>Create New Article</h1>

  <%= form_with scope: :article, url: articles_path, local: true do |f| %>
    <div class="m-b-20">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="m-b-20">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div>
      <%= f.submit %>
    </div>
  <% end %>
<% end %>

<style lang="scss" scoped>
  div {
      width: 300px;
      display: flex;
      flex-direction: column;
  }
</style>
