<% if @article.errors.any? %>
  <% @article.errors.full_messages.each do |e| %>
    <%= render partial: "commons/errors", locals: { error: e } %>
  <% end %>
<% else %>
  <h1>게시글 작성</h1>

  <%= form_with scope: :article, url: articles_path, multipart: true, local: true do |f| %>
    <div class="m-b-20">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="m-b-20">
      <%= f.label :description %>
      <%= f.text_area :description, :rows => 10 %>
    </div>

    <div class="m-b-20">
      <%= f.fields_for :post_attachments do |p| %>
        <%= f.label :avatar, 'Photo' %>
        <%= f.file_field :avatar, :multiple => true, name: "post_attachments[avatar][]" %>
      <% end %>
    </div>

    <div class="m-b-20">
      <%= f.label :category %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, include_hidden: false do |checkbox| %>
        <div class="checkbox_container">
          <%= checkbox.check_box %>
          <%= checkbox.label %>
        </div>
      <% end %>
    </div>

    <%= f.submit '작성', class: "btn btn-outline-primary" %>

  <% end %>
<% end %>

<style lang="scss" scoped>
  div {
      width: 300px;
      display: flex;
      flex-direction: column;
  }

  .checkbox_container {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .checkbox_container input {
      margin-right: 5px;
  }

  .checkbox_container label {
      margin: 0;
  }
</style>
