<h1>Showing article details</h1>

<%= form_with scope: :article, url: articles_path, local: true do |f| %>
  <div class="m-b-20">
    <%= f.label :title %>
    <%= f.text_field :title, :readonly => true %>
  </div>

  <div class="m-b-20">
    <%= f.label :description %>
    <%= f.text_area :description, :readonly => true, :rows => 10 %>
  </div>

  <div class="m-b-20">
    <%= f.label :category %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |checkbox| %>
      <div class="checkbox_container">
        <%= checkbox.check_box disabled: true %>
        <%= checkbox.label %>
      </div>
    <% end %>
  </div>

  <div class="m-b-20">
    <%= f.label :user %>
    <%= fields_for :user, @article.user do |u| %>
      <%= u.collection_select(:id, User.all, :id, :name, {}, { disabled: true }) %>
    <% end %>
  </div>
<% end %>

<style lang="scss" scoped>
    div {
        width: 300px;
        display: flex;
        flex-direction: column;
    }

    .checkbox_container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .checkbox_container input {
        margin-right: 5px;
    }

    .checkbox_container label {
        margin: 0;
    }
</style>