<h1>게시글 내용</h1>

<%= form_with scope: :article, url: articles_path, local: true do |f| %>
  <div class="block m-b-20">
    <%= f.label :title %>
    <%= f.text_field :title, :readonly => true %>
  </div>

  <div class="block m-b-20">
    <%= f.label :description %>
    <%= f.text_area :description, :readonly => true, :rows => 10 %>
  </div>

  <div class="block m-b-20">
    <%= f.label :category %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |checkbox| %>
      <div class="checkbox_container">
        <%= checkbox.check_box disabled: true %>
        <%= checkbox.label %>
      </div>
    <% end %>
  </div>
<% end %>

<p>댓글</p>
<ul>
  <% @comment.each do |c| %>
    <%= render partial: 'comments/comment', locals: { comment: c }%>
  <% end %>
</ul>
<%= will_paginate @comment, class: "digg_pagination" %>
<%= render partial: 'comments/new', locals: { article: @article} %>

<style lang="scss" scoped>
    .block {
        width: 300px;
        display: flex;
        flex-direction: column;
    }

    .checkbox_container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .checkbox_container input {
        margin-right: 5px;
    }

    .checkbox_container label {
        margin: 0;
    }

    ul {
        padding: 0;
    }

    .digg_pagination {
        display: flex;
        justify-content: center;
    }
</style>