<div class="card f-regular m-b-20" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title f-bold"><%= user.name %></h5>
    <p class="card-text m-b-10"><%= user.email %></p>
    <div class="button-wrapper m-b-10">
      <%= button_to '보기', user_path(user), method: :get, class: "btn btn-outline-success" %>
      <%= button_to '수정', edit_user_path(user), method: :get,class: "btn btn-outline-info", disabled: (user != current_user && !admin?) %>
      <%= button_to '삭제', user_path(user), method: :delete, class: "btn btn-outline-danger", disabled: (user != current_user && !admin?), data: { confirm: "삭제하시겠습니까?"} %>
    </div>
    <hr />
    <div class="articles-count f-12 text-center">
      <p>has <%= user.articles.count %> <%= user.articles.count > 1 ? 'articles' : 'article' %></p>
    </div>
  </div>
</div>

<style lang="scss" scoped>
    .button-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>