<div class="card f-regular m-b-20" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title f-bold"><%= user.name %></h5>
    <p class="card-text m-b-10"><%= user.email %></p>
    <div class="button-wrapper m-b-10">
      <%= link_to 'Show', user_path(user), class: "btn btn-outline-success" %>
      <%= link_to 'Edit', edit_user_path(user), class: "btn btn-outline-info" %>
      <%= link_to 'Delete', user_path(user), method: :delete, class: "btn btn-outline-danger" %>
    </div>
    <hr />
    <div class="articles-count f-12 text-center">
      <p>has <%= user.articles.count %> <%= user.articles.count > 1 ? 'articles' : 'article' %></p>
    </div>
  </div>
</div>

<style lang="scss" scoped>
    .button-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>