<h1>유저 정보</h1>

<%= form_with scope: :user, url: users_path, local: true do |f| %>
  <div class="form m-b-20">
    <%= f.label :name %>
    <%= f.text_field :name, readonly: true %>
  </div>

  <div class="form m-b-20">
    <%= f.label :email %>
    <%= f.text_field :email, readonly: true %>
  </div>
<% end %>

<h2>Articles</h2>
<div class="grid-col2">
  <% @user.articles.reverse.each do |a| %>
    <%= render partial: 'articles/card', locals: { article: a } %>
  <% end %>
</div>

<style lang="scss" scoped>
    .form {
        width: 300px;
        display: flex;
        flex-direction: column;
    }

    .grid-col2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
</style>