<% if @category.errors.any? %>
  <% @category.errors.full_messages.each do |e| %>
    <%= render partial: 'commons/errors', locals: { error: e } %>
  <% end %>
<% else %>
  <h1>카테고리 생성</h1>

  <%= form_for(@category) do |f| %>
    <div class="m-b-20">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <%= f.submit '생성', class: "btn btn-outline-primary" %>
  <% end %>
<% end %>

<style lang="scss" scoped>
    div {
        width: 300px;
        display: flex;
        flex-direction: column;
    }
</style>