<!DOCTYPE html>
<html>
  <head>
    <title>윤희와 준욜이 프라이빗 블로그</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'commons/navbar' %>

    <% flash.each do |name, msg| %>
      <%= msg %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'commons/footer' %>
  </body>
</html>
